region = "us-east-1"

project = "Stone"

# Be sure to change this bucket name and region to match an S3 Bucket you have already created!
bucket_backend = "stone-terraform-remote-state-storage-s3"

cluster_name = "terraform-eks"

cluster_context_name = "aws"

kubeconfig_dir = "/home/vagrant/.kube"

jx_provider = "eks"

git_provider_url = "https://github.com"

admin_user = "admin"

admin_password = "password1234"

git_user = "opstricks"

git_email = "email@gmail.com"

# https://github.com/settings/tokens/new?scopes=repo,read:user,user:email,write:repo_hook
git_token = "e32sd334cv28fgfgfade5fgfgfg04dfgf6c45d2c2a55"
